APScheduler==3.10.4
ctranslate2==4.3.1
fastapi==0.111.1
openpyxl==3.1.5
pandas==1.3.5
pydantic==2.8.2
python_docx==1.1.0
torch==2.1.2+cu121
tqdm==4.65.0
transformers==4.38.1
uvicorn==0.30.4
docx
numpy<=2